@model SWENG894.Utility.PaginatedList<SWENG894.Models.NewsFeed>

<div class="card mb-2">
    <h5 class="card-header">Joe published a new workout</h5>
    <div class="card-body">
        <h5 class="card-title">Workout Name</h5>
        <p class="card-text">Workout notes.</p>
        <a href="#" class="btn btn-primary">View Workout</a>
    </div>
</div>
<div class="card mb-2">
    <h5 class="card-header">Bob completed a workout</h5>
    <div class="card-body">
        <h5 class="card-title">Workout Name</h5>
        <p class="card-text">Workout notes.</p>
        <a href="#" class="btn btn-primary">View Workout</a>
    </div>
</div>
<div class="card mb-2">
    <h5 class="card-header">You have been challenged!</h5>
    <div class="card-body">
        <h5 class="card-title">Workout Name</h5>
        <p class="card-text">Workout notes.</p>
        <a href="#" class="btn btn-primary">View Challenge</a>
    </div>
</div>
<div class="card mb-2">
    <h5 class="card-header">Joe challeneged Bob</h5>
    <div class="card-body">
        <h5 class="card-title">Workout Name</h5>
        <p class="card-text">Workout notes.</p>
        <a href="#" class="btn btn-primary">View Challenge</a>
    </div>
</div>
<div class="card mb-2">
    <h5 class="card-header">Bob completed a challenge</h5>
    <div class="card-body">
        <h5 class="card-title">Workout Name</h5>
        <p class="card-text">Workout notes.</p>
        <a href="#" class="btn btn-primary">View Challenge</a>
    </div>
</div>