@model SWENG894.Utility.PaginatedList<SWENG894.Models.NewsFeed>

@if (Model.Count > 0)
{
    foreach (var feed in Model)
    {
        switch (feed.FeedType)
        {
            case NewsFeed.FeedTypes.AcceptedChallenge:
                <div class="card mb-2">
                    <h5 class="card-header">Bob accepted a challenge from Joe</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Challenge</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.CompletedChallenge:
                <div class="card mb-2">
                    <h5 class="card-header">Bob completed a challenge</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Challenge</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.CompletedWorkout:
                <div class="card mb-2">
                    <h5 class="card-header">Bob completed a workout</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Workout</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.PublishedWorkout:
                <div class="card mb-2">
                    <h5 class="card-header">Joe published a new workout</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Workout</a>
                    </div>
                </div>
                break;

            case NewsFeed.FeedTypes.SentChallenge:

                <div class="card mb-2">
                    <h5 class="card-header">Joe challeneged Bob</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Challenge</a>
                    </div>
                </div>

                <div class="card mb-2">
                    <h5 class="card-header">You have been challenged!</h5>
                    <div class="card-body">
                        <h5 class="card-title">Workout Name</h5>
                        <p class="card-text">Workout notes.</p>
                        <a href="#" class="btn btn-primary">View Challenge</a>
                    </div>
                </div>
                break;
        }
    }
}
else
{
    <p>You don't have any news.</p>
}