@model SWENG894.Models.WorkoutResult

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<script type="text/javascript">
    window.onload = function () {
        var label = $('#scoringType').find(":selected").text();
        if (label != "Reps") {
            $('#timeSeconds').hide();
        }
        $('#scoreField').val('');
        $('#scoringType').prop('disabled', 'disabled');

    }
</script>
<h4>WorkoutResults</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ScoringType" id="scoringType" asp-items="@Html.GetEnumSelectList<SWENG894.Models.Workout.Scoring>()"></select>
                <label asp-for="Score" id="timeLabel" class="control-label"></label>
                <input asp-for="Score" id="scoreField" class="form-control" />
                <input type="number" id="timeSeconds" name="seconds" min="0" max="59" class="form-control" />
                <label asp-for="ResultNotes" class="control-label">Result Notes</label> <br />
                <input asp-for="ResultNotes" id="resultNotes" class="form-control" />
                <span asp-validation-for="ResultNotes" class="text-danger"></span>
                <input type="hidden" asp-for="RelatedChallenge" />
                <input type="hidden" asp-for="WorkoutId" />
                <input type="hidden" asp-for="ResultNotes" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
