@model SWENG894.Models.WorkoutResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<script type="text/javascript">
    window.onload = function () {
        var label = $('#scoringType').find(":selected").text();
        if (label != "Reps") {
            $('#timeSeconds').hide();
        }
        $('#scoreField').val('');
        $('#scoringType').prop('disabled', 'disabled');

    }
</script>
<h4>WorkoutResults</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorkoutId" class="control-label">Workout Name </label> <br />
                <label asp-for="WorkoutId" class="control-label">@Model.WorkoutName</label>
                <input asp-for="WorkoutId" class="form-control" type="hidden" />
                <span asp-validation-for="WorkoutId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Athlete Name </label> <br />
                <label asp-for="UserId" class="control-label">@Model.Username</label>
                <input asp-for="UserId" class="form-control" type="hidden" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ScoringType" id="scoringType" asp-items="@Html.GetEnumSelectList<SWENG894.Models.Workout.Scoring>()"></select>
                <label asp-for="Score" id="timeLabel" class="control-label"></label>
                <input asp-for="Score" id="scoreField" class="form-control" />
                <input type="number" id="timeSeconds" name="seconds" min="0" max="59" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
