@model SWENG894.Models.Workout

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<script type="text/javascript">
    window.onload = function () {
        var label = $('#scoringType').find(":selected").text();
        if (label == "Time") {
            label = label + " (Minutes and Seconds)";
            showSecondsField();
            var minutes = $("#Time").val();
            minutes = minutes / 60;
            minutes = Math.floor(minutes);
            var seconds = $("#Time").val();
            seconds = seconds % 60;

            $("#Time").val(minutes)
            $("#timeSeconds").val(seconds)
        }
        else {
            hideSecondsField();
        }
        $('#timeLabel').text(label);
    }
</script>
<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoringType" class="control-label"></label>
                <select asp-for="ScoringType" id="scoringType" onchange="handleScoringTypeChange()" asp-items="@Html.GetEnumSelectList<SWENG894.Models.Workout.Scoring>()" class="form-control"></select>
                <span asp-validation-for="ScoringType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" id="timeLabel" class="control-label"></label>
                <input asp-for="Time" min="0" max="1000" class="form-control" />
                <br>
                <input type="number" id="timeSeconds" name="seconds" min="0" max="59" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScalingOptions" class="control-label"></label>
                <input asp-for="ScalingOptions" class="form-control" />
                <span asp-validation-for="ScalingOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
